{% extends "base.html" %}

{% block content %}
<a role="button" class="btn btn-dark" href='/new_dialog'>Начать новый диалог</a>
<div aria-atomic="true" style="position: relative; min-height: 10px;"></div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div aria-atomic="true" style="position: relative; min-height: 200px;">
                    {% for item in dialogs %}
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"  data-autohide="false">
                        <div class="toast-header">
                            {% if users|selectattr('0', "equalto", item[1])|map(attribute='1')|first == username %}
                            <strong class="mr-auto"><a href="/dialog/{{item[0]}}#end">
                                {{users|selectattr('0', "equalto", item[2])|map(attribute='1')|first}}</a></strong>
                            {% else %}
                            <strong class="mr-auto"><a href="/dialog/{{item[0]}}#end">
                                {{users|selectattr('0', "equalto", item[1])|map(attribute='1')|first}}</a></strong>
                            {% endif %}
                            <small><a dir="rtl" href='/delete_dialog/{{item[0]}}'>Удалить</a></small>
                        </div>
                        <div class="toast-body">
                            {{letters|selectattr('4', "equalto", item[0])|map(attribute='1')|list|last}}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
$('.toast').toast('show');
</script>
{% endblock %}